.login22{
    width: 100%;
    height: 100vh;

}
.signGoogle{
text-align: center;

}
.btnGoogle{
    text-align: center;  
    
}
.btnGoogle2{
    padding: 12px 12px;
    border-radius: 30px;
    cursor: pointer;
}