.name{
    font-size: 4rem;
    top: -20px;
}
.section{
    width: 100%;
    height: 100%;
   
    color: white;
}
.parent-left{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 20px;
    width: 30%;
}




.post2{
    display: flex;
    flex-wrap: wrap;
    border: 6px solid gray;
    margin: 30px 30px;
padding: 20px 20px;
border-radius: 40px;
width: 80%;
text-align: start;
justify-content: center;

}
.post{
   
    margin: 30px 30px;
padding: 20px 20px;
}

.name-container{
    width: 20%;
    height: 145px;
    padding: 30px;
    text-align: center;
}
.welcome{
    padding: 20px;
}
.userlogo{
    width: 20px;
    height: 40px;
    display: flex;
}